<!--<form [formGroup]="defaultLanguageForm">-->
<!--<select formControlName="defaultLanguageCTRL" (ngModelChange)="changeDefaultLanguage($event)" [(ngModel)]="defaultLanguage">-->
<!--<option *ngFor="let lang of languages" [ngValue]="lang.value">{{lang.name}}</option>-->
<!--</select>-->
<!--</form>-->
<router-outlet></router-outlet>
<ngx-ui-loader></ngx-ui-loader>
