<div class="login-cont" *ngIf="authorized">

  <div class="login-head"><img src="{{logoURL}}"/></div>

  <div class="login-wrap">

    <!--Start form-->
    <form class="login-form row" name="form" [formGroup]="loginForm" novalidate>

      <!--Customer logo-->
      <div class="text-center">
        <img src="{{customerLogoURL}}"/>
      </div>

      <!--Start username-->
      <div class="form-group">
        <span class="p-float-label full-width">
          <input id="usernameInp" type="text" pInputText formControlName="username" class="col-md-12">
          <label for="usernameInp">{{ 'login.userName' | translate }}</label>
        </span>

        <!--Start error messages-->
        <div
          *ngIf="loginForm.controls['username'].invalid &&
          (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
          <div *ngIf="loginForm.controls['username'].errors?.['required']"
               style="color: red;">{{'login.usernameIsRequired' | translate}}</div>
        </div>
        <!--End error messages-->
      </div>
      <!--End username-->


      <!--Start Password-->
      <div class="form-group col-md-12">

        <div class="input-group">

          <span class="p-float-label" style="width: 89%">
            <input id="passInp2" [type]="fieldTextType ? 'text' : 'password'" pInputText formControlName="password"
                   class="form-control"/>
            <label for="passInp2">{{ 'login.password' | translate }}</label>
          </span>

          <span class="input-group-text">
                <i class="pi" [ngClass]="{'pi-eye-slash': !fieldTextType,'pi-eye': fieldTextType}"
                   (click)="toggleFieldTextType()"></i>
          </span>

        </div>

        <!--Start error messages-->
        <div
          *ngIf="loginForm.controls['password'].invalid &&
          (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
          <div *ngIf="loginForm.controls['password'].errors?.['required']"
               style="color: red;">{{'login.passwordIsRequired' | translate}}</div>
        </div>
        <!--End error messages-->
      </div>
      <!--End Password-->

      <!--Start Domain-->
      <div class="form-group">
        <span class="p-float-label full-width">
          <input id="domainInput" type="text" pInputText formControlName="domain" class="col-md-12">
          <label for="domainInput">{{ 'login.domain' | translate }}</label>
        </span>

        <!--Start error messages-->
        <div
          *ngIf="loginForm.controls['domain'].invalid &&
          (loginForm.controls['domain'].dirty || loginForm.controls['domain'].touched)">
          <div *ngIf="loginForm.controls['domain'].errors?.['required']"
               style="color: red;">{{'login.domainIsRequired' | translate}}</div>
        </div>
        <!--End error messages-->
      </div>
      <!--End Domain-->


      <!--Start Language-->
      <div class="form-group col-md-12 leftToRight">
        <p-selectButton formControlName="language" [options]="languages" optionLabel="name"
                        optionValue="value" (onChange)="changeDefaultLanguage()"></p-selectButton>
      </div>
      <!--End Language-->

      <!--Start Remember me-->
      <div class="form-group leftToRight">
        <div class="field-checkbox">
          <p-checkbox formControlName="rememberMe" [binary]="true"></p-checkbox>
          <label> &nbsp;&nbsp;{{'login.rememberMe' | translate}}</label>
        </div>
      </div>
      <!--End Remember me-->

      <!--Start Force Login-->
      <div class="form-group leftToRight">
        <div class="field-checkbox">
          <p-checkbox formControlName="forceLogin" [binary]="true"></p-checkbox>
          <label> &nbsp;&nbsp;{{'login.forceLogin' | translate}}</label>
        </div>
      </div>
      <!--Start Force Login-->

      <!--Start Submit button-->
      <div class="form-group">
        <button pButton pRipple type="button" label="{{ 'login.loginBtn' | translate}}" icon="pi pi-check"
                class="p-button-success col-md-12" [disabled]="!loginForm.valid">
        </button>
      </div>
      <!--End Submit button-->

    </form>
    <!--End form-->

    <!--Start footer-->
    <div class="login-footer">
      <p>2014 - 2022 © {{'login.assetCopy' | translate}}</p>
    </div>
    <!--End footer-->

  </div>

</div>
