.login-cont
{
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/Images/loginBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #515760;
  direction: rtl;
}

.login-cont .form-group
{
  position: relative
}

.login-cont .form-group .error
{
  position: absolute;
  bottom: -3px;
  right: 0
}

.login-cont.login-head
{
  width: 100%;
  float: right;
  padding-right: 20px
}

.login-cont .login-wrap
{
  margin-right: auto;
  margin-left: auto;
  width: 480px
}

.login-cont .login-wrap .login-form
{
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
}

.login-cont .login-wrap .login-form > img
{
  margin-right: 20px;
  margin-bottom: 10px
}

.login-cont .login-wrap .login-form .input-holder
{
  margin: 15px 0
}

.login-cont .login-wrap .login-form .input-holder > label
{
  padding-right: 18px;
  font-weight: 500
}

.login-cont .login-wrap .login-form .input-holder > input
{
  border-radius: 25px;
  width: 100%;
  border: 1px solid #cacaca;
  height: 40px;
  padding-right: 10px
}

.login-cont .login-wrap .login-form .input-holder > select
{
  border-radius: 25px;
  width: 100%;
  border: 1px solid #cacaca;
  height: 40px;
  padding-right: 18px;
  padding-left: 18px
}

.login-cont .login-wrap .login-form .check-box
{
  padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 10px
}

.login-cont .login-wrap .login-form .check-box > input[type=checkbox].graphic
{
  display: none
}

.login-cont .login-wrap .login-form .check-box > label
{
  vertical-align: middle
}

.login-cont .login-wrap .login-form .login-btn
{
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #21ad7a;
  height: 40px;
  text-align: center;
  border: 0;
  color: #fff;
  padding: 0
}

.login-cont .login-wrap .login-form .login-btn > a
{
  color: #fff;
  text-decoration: none;
  font-weight: bolder
}

.login-cont .login-wrap .login-footer
{
  color: #fff
}

.login-cont .login-wrap .login-footer > p
{
  padding-right: 30px;
  padding-top: 10px
}

.login-head
{
  direction: ltr;
  margin-left: 10px;
}

.p-float-label > .ng-invalid.ng-dirty + label
{
  color: black !important;
}

.p-selectbutton .p-button.p-highlight
{
  background: #5E8F32 !important;
}

.p-selectbutton .p-button.p-highlight
{
  background: #5E8F32 !important;
}

.leftToRight{
  direction: ltr;
}


